[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]

mock = "*"
pytest = "*"
"pytest-aiohttp" = "*"
"pytest-asyncio" = "*"
"pytest-timeout" = "*"

[packages]

thrift = "*"
pytest = "*"
"boto3" = "*"
asyncio = "*"
aiohttp = "*"
aiokafka = "*"
aiocassandra = "*"
"jinja2" = "*"
"aiohttp-jinja2" = "*"
"aioprometheus" = "*"
"prometheus-client" = "*"
"prometheus-metrics-proto" = "*"