<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="pub/styles/common.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="/user">
        <h3>{{title}}</h3>
        <p id="status_text"></p>
        <input type="hidden" id="type" value="email">
        <p><input type="text" id="name" placeholder="User name"></p>
        <p><input type="email" id="contact" placeholder="User email"></p>
        <p><button type="submit">{{title}}</button></p>
    </form>
    <script src="pub/scripts/common.js"></script>
    <script>
        window.onload = function() {
            form.addEventListener('submit', create_user);
            function create_user(e) {
                e.preventDefault();
                if (!form.querySelector('#name').value || !form.querySelector('#contact').value) return alert('Empty name or email!');
                request('POST', '/user', 'multipart/form-data', {
                    'name': form.querySelector('#name').value,
                    'type': form.querySelector('#type').value,
                    'contact': form.querySelector('#contact').value
                }, showStatus);
            }
        }
    </script>
</body>
</html>