<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="pub/styles/common.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="/send">
        <h3>{{title}}</h3>
        <p id="status_text"></p>
        <p>
            <label for="users">Select user:</label>
            <select id="users">
            </select>
        </p>
        <p><input type="text" id="message" placeholder="Your message"></p>
        <p><button type="submit">{{title}}</button></p>
    </form>
    <script src="pub/scripts/common.js"></script>
    <script>
        window.onload = function() {
            form.addEventListener('submit', send_message);
            request('GET', '/user/all', null, null, function(xhr) {
                if (xhr.status === 200) {
                    try {
                        var data = JSON.parse(xhr.responseText);
                        var users = document.querySelector("#users");
                        users.innerHTML = data.map(el => [
                                '<option value="'+el.id+'">',
                                el.name,
                                '</option>'
                            ].join('')
                        ).join('');
                    } catch (e) {
                        console.error(e);
                    }
                } else {
                    showStatus(xhr);
                }
            })
            function send_message(e) {
                e.preventDefault();
                if (!form.querySelector('#message').value) return alert('Empty message!');
                request('POST','/send', 'multipart/form-data', {
                    'uid': form.querySelector('#users').value,
                    'message': form.querySelector('#message').value
                }, showStatus);
            }
        }
    </script>
</body>
</html>