<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User creating</title>
</head>
<body>
    <form action="/user" method="POST">
        <input type="hidden" name="type" value="email">
        <p><input type="email" name="contact" id="contact" placeholder="email"></p>
        <p><input type="text" name="name" id="name" placeholder="name"></p>
        <p><button type="submit">Create User</button></p>
    </form>
</body>
</html>